.container .row .Main-Wrapper h2 {
    text-align: center;
    color: #333333;

}

.Body-Line-1 {
    width: 24%;
    left: 43%;
    color: #fab502;
    top: 106px;
}

.Body-Middle-Lines {
    color: #fab502;
 
}