footer {
    background-color: rgb(34,34,34);
    height: 45px;
    z-index: 20;
   
}

.Slider-Up {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    padding: 0px 5px;
    width: fit-content;
    display: block;
    height: auto;
    cursor: pointer;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.Slider-Up img {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 38px;

}